{
  "installed": {
    "client_id": "499661392357-nskc8vor1vcjne02k61dc5q5n8bfl42b.apps.googleusercontent.com",
    "project_id": "smart-quotation-engine",
    "auth_uri": "https://accounts.google.com/o/oauth2/auth",
    "token_uri": "https://oauth2.googleapis.com/token",
    "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
    "client_secret": "YOUR_CLIENT_SECRET_HERE",
    "redirect_uris": [
      "http://localhost"
    ]
  }
}
